<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/public/css/style.css"> 
  <!-- the above link is for css which is present in public directory -->
  <script src="/public/js/script.js"></script>
</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to the student database management app!</p>
  <h2><a href="/next">next page</a></h2>
</body>
</html>
