<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to the student database management app!</p>
  <h2><a href="/next">next page</a></h2>
</body>
</html>
